&nbsp;
<hr />
<p style="text-align: center;">A template by <a href="https://twitter.com/SamGuay_/">Samuel Guay</a></p>
<p style="text-align: center;"><a href="mailto:samuel.guay@umontrea.ca"><span style="color: #808080;"><em>samuel.guay@umontreal.ca</em></span></p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<p style="text-align: center;">
    <a href="https://twitter.com/SamGuay_" class="fa fa-twitter"></a>
    <a href="https://www.gitlab.com/SamGuay" class="fa fa-gitlab"></a>
    <a href="https://github.com/SamGuay/" class="fa fa-github"></a>
</p>

&nbsp;